<!-- cannot include script tag here or else
it starts to say that we cannot load ajax -->

<h3 id='map-heading'>Your Journal Entries and Their Locations</h3>
<%= link_to 'Get Heat Map', get_heat_map_path, class: 'get-heat-map journal-submit' %>
  <div id="map-canvas"><i class='fa fa-globe fa-spin fa-3x'></i></div>
<br>
