<!-- cannot include script tag here or else
it starts to say that we cannot load ajax -->

<h3>Your Journal Entries and Their Locations</h3>
<div id="map-canvas"/>
<br>

<h3>Heat Map of All Journal Entries</h3>
<div id="heat-map-canvas"/>
