<!-- <div class="container"> -->
  <div class="top-bar">
    <h2>Journal entries with the tag '<%= @tag_name %>'</h2>
  </div>

  <% @tagged_entries.each do |entry| %>
  <div class="entry">
    <%= link_to "#{entry.content[0..35]} ....", entry, :class => 'user-entry', remote: true %>
  </div>
  <% end %>
<!-- </div> -->
