<div class="container">
  <div class="top-bar">
    <span><h2>Here are your list of journal entries:</h2>
    <%= link_to "Write a new journal entry", new_journal_entry_path, :class => 'right button' %>
    </span>
  </div>
  
  <% @journal_entries.each do |entry| %>
  <div class="entry">
    <% d = Date.parse(entry.created_at.to_s) %>
    <%= link_to d.strftime('%a %b %d %Y'), journal_entry_path(entry) %>
  </div>
  <% end %>

  

</div>




