<div class="container">

  <div class="journal-bar">
    <ul>
      <li><a class='tab-head'  href="entry"><i class='fa fa-book'></i></a></li>
      <li><a class='tab-head' href="list"><i class='fa fa-bars'></i></a></li>
      <li><a class='tab-head' href="map"><i class='fa fa-globe'></i></a></li>
    </ul>
  </div>

  <div class="partial">
    <%= render 'entry_form'  %>
  </div>
</div>


<div class="quote-box"></div>




