<div class="container">
  <div class="top-bar">
    <h2>Journal entries with the tag '<%= @tag_name %>'</h2>
  </div>
  
  <% @tagged_entries.each do |entry| %>
  <div class="entry">
    <% d = Date.parse(entry.created_at.to_s) %>
    <%= link_to d.strftime('%a %b %d %Y'), journal_entry_path(entry) %>
  </div>
  <% end %>


</div>
