<div class="container">
<h1>Welcome to our app</h1>

<h2>Returning user? Login Here:</h2>
<%= link_to "Login", new_user_session_path %>
<br>
<h2>New User? Sign Up here:</h2>
<%= link_to "Sign Up", new_user_registration_path %>
</div>

<div class="d3">
  <!-- <svg>
    <circle cx="500" cy="200" r="100" fill="yellow" stroke="red" stroke-width="30px" opacity="1"/>
    <circle cx="600" cy="200" r="100" fill="teal" stroke="green" stroke-width="30px" opacity="0.8"/>
  </svg> -->


<!--   <svg>
    <rect x="0" y="0" width="20" height="100" rx="0" ry="0" fill='teal'></rect>
  </svg> -->


<!--   <div class='bar-chart'></div>
 -->
</div>

<div class="buttons">
  <button id='circle'>Circle</button><br>
  <button id='rectangle'>Rectangle</button>
  <button id='scatter'>Scatter</button>
</div>
