<div class="form-box">
  <section class="form welcome">
    <h1>Welcome to Happi.io</h1>

    <h2>New user? Sign up here:</h2>
      <%= link_to "Sign Up", new_user_registration_path, :class => "button" %>
  </section>
</div>
