<div class="hero">
  <div class="hero-inner">
    <div class='headline'>Take Some Time for Yourself</div>
    <div class="sub-headline">
      Call to Action goes here
      <br>
      with a direction
      <br>
      <i class="fa fa-angle-double-down fa-3x"></i>
    </div>
  <div class="spacer">
    <div class="call">Start writing now to sign up!</div>
    <div class="frontpage-container">
      <div class="journal-bar">
        <div class="nav-logo-mini">
          Joynal
        </div>
      </div>
      <div class="user-signup"></div>
      <%= form_for @journal_entry, html: { class: 'new-journal-unregistered' } do |f| %>
      <%= f.text_area :content, autofocus: true, placeholder: 'Today I am feeling...' %><br>
        <div class="journal-details">
          <%= f.submit "Submit and Sign up", :class => "journal-submit" %>
        </div>
     <% end %>
    </div>
  </div>
  </div>
</div>
