/* journal bar */


.journal-bar {
  width: 100%;
  position: relative;
  left:0;
  top: 0;
  height: 50px;
  background-color: #424242;
  padding-top: 5px;
  color: #a3acb2;
  box-shadow: 2px 2px 2px #a3acb2;

  ul {
    margin-top: 7px;
  }

  li {
    display: inline;
    margin-right: 15px;
  }

 a{
    &:link {
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
    color: #a3acb2;
    margin-left: 20px;
    }
    &:hover {
    color: #2e9ac2;
    }
    &:visited {
    color: #a3acb2;
    }
    &:visited:hover{
    color: #2e9ac2;
    }
    &:hover:after{
    background: #424242;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: -33px;
    left: 60px;
    color: #fff;
    content: attr(caption);
    padding: 2px 5px;
    position: absolute;
    z-index: 98;
   }
  }
}

.container {
  @include outer-container;
  background-color: white;
  margin: auto;
  margin-top: 10%;
  width: 60%;
  min-height: 400px;
  box-shadow: 3px 3px 3px #a3acb2;
  margin-bottom: 50px;
}

/* registered user landing page */

.tab {
  display: none;
}

#tab-1 {
  display: block;
}

/* entry form */

.entry {
  width: 100%;
  border-bottom: solid #a3acb2 1px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
  a {
    &:link  {
      text-decoration: none;
      font-size: 1.4em;
      color: black;
    }
    &:visited {
      color: black;
    }
  }
  &:hover {
    background-color: white;
    a:link {
      color:#fd4968;
    }
    a:visited {
      color:#fd4968;
    }
  }
}

.top-bar {
  width: 100%;
  position: relative;
  height: 15%;
  border-bottom: solid #a3acb2 1px;
  a {
    &:link {
      text-decoration: none;
    }
  }
  h2 {
  width: 50%;
  padding-top: 15px;
  padding-left: 15px;
  }
}

.button {
  display: inline-block;
  margin-top: 9px;
  padding: 6px 16px;
  border-radius: 14px;
  background-color:#2e9ac2;
  color: white;
  text-decoration: none;
  &:hover {
    background-color: #fd4968 ;
  }
}

button {
  border: 0;
}


.right {
  right: 20px;
  top: 7px;
  position: absolute;
}

input[type=textarea]{
  border: 0px;
  background: transparent;
  margin: auto 0;
}

.text {
  position: relative;
  width: 80%;
  height: 300px;
  margin-right: 40px;
  margin-left: 10%;
  margin-top: 40px;
  border: solid 1px #ddd;
  font-size: 14px;
  line-height: 25px;
  outline: none;
  resize:vertical;
}

.journal-details {
  text-align: center;
  margin-bottom: 40px;
}

.journal-submit {
  @include button(#2e9ac2);
  &:hover {
    @include button(#fd4968)
  }
}

.content {
  padding-top: 1%;
  padding-left: 4%;
  padding-right: 4%;
}

.tagged {
  padding-left: 4%;
  a {
    &:link {
      text-decoration: none;
      font-size: 1.3em;
      color: black;
      font-weight: 500;
    }
    &:hover {
      color: #2e9ac2;
    }
    &:visited {
      color: black;
    }
    &:visited:hover {
      color: #2e9ac2;
    }
  }
}
/* quote box */

.quote-box {
  margin: auto;
  width: 40%;
  height: 160px;
  position: relative;
  background-color:  white;
  margin-top: 61px;
  display: none;
}

/* footer */

footer {
  width: 100%;
  height: 10px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: white;
}

/*journal keywords graph*/

#keyword-name {
  float: right;
  margin-right: 20px;
}

.chart-description {
  display: none;
  position: relative;
  // float: left;
}
.chart-description p {
  margin-left: 30px;
  margin-top: 0;
  margin-bottom: 0;
}