
/* entry form */

.entry {
  width: 100%;
  border-bottom: solid #a3acb2 1px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
  a {
    &:link  {
      text-decoration: none;
      font-size: 1.4em;
      color: black;
    }
    &:visited {
      color: black;
    }
  }
  &:hover {
    background-color: white;
    a:link {
      color:#fd4968;
    }
    a:visited {
      color:#fd4968;
    }
  }
}

.top-bar {
  width: 100%;
  position: relative;
  height: 15%;
  border-bottom: solid #a3acb2 1px;
  a {
    &:link {
      text-decoration: none;
    }
  }
  h2 {
  width: 50%;
  padding-top: 15px;
  padding-left: 15px;
  }
}

.button {
  display: inline-block;
  margin-top: 9px; 
  padding: 6px 16px;
  border-radius: 14px;
  background-color:#2e9ac2;
  color: white; 
  text-decoration: none;
  &:hover {
    background-color: #fd4968 ;
  }
}

button {
  border: 0;
}


.right {
  right: 20px;
  top: 7px;
  position: absolute;
}

input[type=textarea]{
  border: 0px;
  background: transparent;
  margin: auto 0;
}

.text {
  position: relative;
  width: 80%;
  height: 300px;
  margin-right: 40px;
  margin-left: 10%;
  margin-top: 40px;
  border: solid 1px #ddd;
  font-size: 14px;
  line-height: 25px;
  outline: none;
  resize:vertical;  
}

.journal-details {
  text-align: center; 
  margin-bottom: 40px;
}

.journal-submit {
  @include button(#2e9ac2);
  &:hover {
    @include button(#fd4968)
  }
}

.content {
  padding-top: 1%;
  padding-left: 4%;
  padding-right: 4%;
}

.tagged {
  padding-left: 4%;
  a {
    &:link {
      text-decoration: none;
      font-size: 1.3em;
      color: black;
      font-weight: 500;
    }
    &:hover {
      color: #2e9ac2;
    }
    &:visited {
      color: black;
    }
    &:visited:hover {
      color: #2e9ac2;
    }
  }
}

/* footer */

footer {
  width: 100%;
  height: 10px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: white;
}




