* {
  font-family: 'Cabin', sans-serif;
}
body {
  background-color: #c0deed;
  margin: 0;
}

/* Nav */
nav {
  width: 100%;
  position: absolute;
  left:0;
  top: 0;
  height: 60px;
  background-color: white;
  padding-top: 5px;
  color: #a3acb2;
  box-shadow: 2px 2px 2px #a3acb2;

 a{
    &:link {
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
    color: #a3acb2;
    margin-left: 20px;
    }
    &:hover {
    color: #2e9ac2;
    }
    &:visited {
    color: #a3acb2;
    }
    &:visited:hover{
    color: #2e9ac2;
    }
  }
}

.nav-left {
  float: left;
  padding-top: 5px;
  padding-left: 15%;
    a:hover:after{
    background: #424242;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: -33px;
    left:16%;
    color: #fff;
    content: attr(content);
    padding: 2px 5px;
    position: absolute;
    z-index: 98;
   }
}

.nav-right {
  float: right;
  padding-top: 9px;
  padding-right: 15%;
}

.nav-logo {
  font-family: 'pacifico', cursive;
  color: #2e9ac2;
  font-size: 1.8em;
  position: absolute;
  top: 0px;
  left: 45%;
}

/* container */
.centered {
  text-align: center;
}


/* Hero */

.hero {
  padding-top: 60px;
} 

.hero-inner {
  background: image-url("/assets/bwclouds.jpg")no-repeat center center fixed;
  background-size:100% 100%;
  background-repeat:no-repeat;
  height:850px;
  left: 0;
  right: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.headline {
  font-family: 'Droid Sans', sans-serif;
  font-size: 80pt;
  font-weight: 700;
  color: #FFF ;
  text-align: center;
  text-shadow: 7px 7px 6px #424242;
  z-index: 100;
  padding-top: 200px; 
}

.sub-headline {
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
  color: #FFF ;
  font-size: 40pt;
  text-shadow: 7px 7px 5px #424242;
  z-index: 100;
  margin-top:50px;
}

.spacer {
  width: 100%;
  height: 0px;
  padding-top: 200px;
  div.call {
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
    color: #424242;
    font-size: 50pt;
    z-index: 100;
    padding-top: 200px;
    margin-bottom: 40px;
  } 
}
.nav-logo-mini {
  font-family: 'pacifico', cursive;
  color: white;
  font-size: 1.6em;
  position: absolute;
  top: 0px;
  left: 45%;
}

.frontpage-container {
  @include outer-container;
  background-color: white;
  margin: auto;
  width: 60%;
  min-height: 400px;
  box-shadow: 3px 3px 3px #a3acb2;
  margin-bottom: 200px;
  z-index: 100;
  textarea {
    position: relative;
    width: 98%;
    margin-left: 1%;
    height: 300px;
    margin-top: 1px;
    border: solid 1px #ddd;
    font-size: 18pt;
    line-height: 25px;
    outline: none;
    font-weight: 100;
    resize:vertical;
  }
}
 /* Form */

.form-box {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding-bottom: 2%;
  background-color: white;
  text-align: center;
  box-shadow: 3px 3px 3px #a3acb2;
  .welcome {
    padding-top: 50px;
  }
  section {
    padding-top: 10px;
  }
}

/* footer */

footer {
  width: 100%;
  height: 40px;
  margin-top: 50px; 
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: white;
  text-align: right;
  span {
    font-size: 10pt;
    padding-top: 10px;
    margin-right: 20px;
  }
  a {
    &:link {

      text-decoration: none;
    }
  }
}


